<div class="row">
    <div class="col-md-12">
        <h3>
            Add User
        </h3>
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" maxlength="50" formControlName="firstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  maxlength="50" formControlName="lastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" maxlength="50" formControlName="id">
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-sm-2 col-form-label"></div>
                    <div class="col-sm-10 row">
                        <div class="input-group">
                            <div>
                                    <button type="submit" class="btn btn-success mx-3">Update</button>
                                    <button type="button" class="btn btn-info mx-5" (click)="resetForm()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Users List</h3>
        <user-list [userList]="userList"></user-list>
    </div>
</div>